
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
  }
  body {
    background-color: #01101e;
  }
  footer{
    background-color: #b8bdc1;
    align-content: center;
    text-align: center;
    padding: 20px;
    color: #01101e;
    margin-top: 170px;
    height: 50px;
  }

  .card {
    color: #fff;
    width: 90%;
    background: linear-gradient(to right, #032f4d, #6b957d);
    border-radius: 20px;
    padding: 40px 35px;
    margin: 100px auto 0;
    max-width: 470px;
    text-align: center;
  }
  .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
  }
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 100%;
    padding: 10px 20px;
    cursor: pointer;
  }
  .search button img {
    width: 30px;
  }
  .weather {
    margin-top: 40px;
    align-content: center;
  }
  .weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 5px;
  }
  .weather h2 {
    font-size: 30px;
    font-weight: 300;
    margin-top: -10px;
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
  }
  .col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .col img {
    margin-right: 10px;
    width: 40px;
  }
  .humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
    margin-bottom: 10px;
  }
  